@import 'helpers/mixins';
@import 'helpers/placeholders';
@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/eraStyling';
@import 'helpers/keyframes';

@import 'components/Loading';
@import 'components/Condensed';
@import 'components/CondensedVertical';

@import 'components/VerticalChronology';
@import 'components/DisplayFullTracks';

@import 'components/Albums';
@import 'components/Quiz';
@import 'components/OptionsPills';
@import 'components/Legend';


@import 'layout/header';
@import 'pages/Home';


// font for community-icon
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


html {
    font-size: 16px;
    margin: auto;
}

body {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-family: $lead-font;
}

ul {
    list-style-type: none;
    /* Removes bullets from an unordered list */
    padding: 0;

}

// in root.js
.whole-container {


}


// in root.js
.main-container {
    display: flex;
    flex-flow: column;
    padding-top: 1rem;
    overflow: hidden;
    justify-content: center;
}

.horizontal-chronology {
    display: flex;
    flex-flow: row;
}




