@import 'helpers/mixins';
@import 'helpers/placeholders';
@import 'helpers/variables';
@import 'helpers/functions';

@import 'components/Loading';
@import 'components/Chronology';
@import 'components/Albums';
@import 'layout/header';
@import 'pages/Home';


// font for community-icon
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


html {
    font-size: 16px;
}

body {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul {
    list-style-type: none;
    /* Removes bullets from an unordered list */
    padding: 0;

}

// in root.js
.whole-container {
    display: flex;
    position: relative;
    top: $header-height;
    right: 1rem;
    // justify-content: center;
    width: 100vw;
    justify-content: center;

    @media (min-width: $large-desktop) {
        //if wide : the nav and main are flex in row
        display: flex;
        justify-content: center;
    }


}


// in root.js
.main-container {
    display: flex;
    padding-top: 1rem;
    overflow: hidden;
    @media (min-width: $large-desktop){
        width: 1200px;
    }
}






