
  // Apply the animation to the component with a fade-in effect
  .welcome-container {
    animation: fadeInMove 2s ease-in-out; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    h1{
        animation: colorCycle 60s infinite;
        text-align: center;
        font-size: 3rem;
        font-family: $titleFont;
    }
}

.home-link-button{
    margin: auto;
    border-radius: $rounded-rectangle;
    padding: 1rem;
    margin-top: 2rem;
    font-family: $titleFont;
    text-decoration: none;
    animation: backgroundErasColorCycle 60s infinite;
    color: $background-color;
    font-weight: 700;
    letter-spacing: 4px;
}