@keyframes colorCycle {
  @for $i from 0 to length($eraList) + 1 { // Add 1 to the length for the extra step
    $color: nth($eraList, $i % length($eraList) + 1); // Use modulo to wrap around
    $percentage: percentage($i / (length($eraList) + 1)); // Adjust the denominator

    #{$percentage} {
      color: $color;
    }
  }
}

@keyframes borderErasColorCycle {
  @for $i from 0 to length($eraList) + 1 { // Add 1 to the length for the extra step
    $color: nth($eraList, $i % length($eraList) + 1); // Use modulo to wrap around
    $percentage: percentage($i / (length($eraList) + 1)); // Adjust the denominator

    #{$percentage} {
      border-color: $color;
    }
  }
}


@keyframes backgroundErasColorCycle {
  @for $i from 0 to length($eraList) + 1 { // Add 1 to the length for the extra step
    $color: nth($eraList, $i % length($eraList) + 1); // Use modulo to wrap around
    $percentage: percentage($i / (length($eraList) + 1)); // Adjust the denominator

    #{$percentage} {
      background-color: $color;
    }
  }
}

@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateY(-80px); 

  }
  to {
    opacity: 1;
    transform: translateY(0);

  }
}
