

// TEXT COLOR
//_______________________________________________________
@keyframes colorCycle {
  @for $i from 0 to length($eraList) + 1 { // Add 1 to the length for the extra step
    $color: nth($eraList, $i % length($eraList) + 1); // Use modulo to wrap around
    $percentage: percentage($i / (length($eraList) + 1)); // Adjust the denominator

    #{$percentage} {
      color: $color;
    }
  }
}

// animation: colorCycle 60s infinite;




// BORDER COLOR
//_______________________________________________________

@keyframes borderErasColorCycle {
  @for $i from 0 to length($eraList) + 1 { // Add 1 to the length for the extra step
    $color: nth($eraList, $i % length($eraList) + 1); // Use modulo to wrap around
    $percentage: percentage($i / (length($eraList) + 1)); // Adjust the denominator

    #{$percentage} {
      border-color: $color;
    }
  }
}

// animation: borderErasColorCycle 60s infinite;




// BACKGROUND COLOR
//_______________________________________________________

@keyframes backgroundErasColorCycle {
  @for $i from 0 to length($eraList) + 1 { // Add 1 to the length for the extra step
    $color: nth($eraList, $i % length($eraList) + 1); // Use modulo to wrap around
    $percentage: percentage($i / (length($eraList) + 1)); // Adjust the denominator

    #{$percentage} {
      background-color: $color;
    }
  }
}

// animation: backgroundErasColorCycle 60s infinite;




//_______________________________________________________

@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateY(-80px); 

  }
  to {
    opacity: 1;
    transform: translateY(0);

  }
}
// animation: fadeInMove 3s ease-in-out; 
