
//BREAKPOINTS
$small-phone: 370px;
$phone: 470px;
$wide-phone: 570px;
$small-tablet: 650px;
$tablet: 768px;
$small-desktop: 880px;
$desktop: 960px;
$large-desktop: 1200px;
$XL-desktop: 1400px;
$XXL-desktop: 1500px;
$XXXL-desktop: 1600px;
$XXXXL-desktop: 1700px;
$small-monitor: 1700px;
$monitor: 1800px;
$large-monitor: 1900px;
$XL-monitor: 2000px;
$XXL-monitor: 2100px;



// era colors
$theTorturedPoetsDepartment: rgb(237, 236, 232);
$midnights: #2536a4;
$evermore: #af7039;
$folklore: #aeb4b2;
$lover: #e4b0f5;
$reputation: rgb(4, 32, 27);
$nineteenEightyNine: #9ab9f2;
$red: #dd2e2e;
$speakNow: #ba91ed;
$fearless: #f5ce6d;
$taylorSwift: #7fd5e0;
$carolina: #c3baaa;
$christmas: #1c6336;
$renegade: #638d98;

$eraList: (
  $taylorSwift,
  $fearless,
  $speakNow,
  $red,
  $nineteenEightyNine,
  $reputation,
  $lover,
  $folklore,
  $evermore,
  $midnights,
  $theTorturedPoetsDepartment
);


$lead-color: $theTorturedPoetsDepartment;
$lead-text-color: darken($lead-color, 30%);
$second-color: #f3f4ff;
$border-standard: 7px solid $theTorturedPoetsDepartment;
$background-color: #fff;
$header-height: 71px;
$nav-height: 20px;
$titleFont: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;


$title-font: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$lead-font: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

$legend-box-container-size: 15px;
$legend-box-size: 13px;


// header is highest
$header-depth: 10;
$bring-forward: 1;

$rounded-rectangle: 19px;

//z-indexes

$above-legend-overlay: 4;