//------------------------------------------------------------------------------
// BACKGROUND COLORS 

.background-color-theTorturedPoetsDepartment {
    background-color: $theTorturedPoetsDepartment
}
.background-color-midnights {
    background-color: $midnights;
}
.background-color-evermore {
    background-color: $evermore;
}
.background-color-folklore {
    background-color: $folklore
}
.background-color-lover {
    background-color: $lover;
}
.background-color-reputation {
    background-color: $reputation;
}
.background-color-nineteenEightyNine {
    background-color: $nineteenEightyNine
}
.background-color-red {
    background-color: $red
}
.background-color-speakNow {
    background-color: $speakNow;
}
.background-color-fearless {
    background-color: $fearless
}
.background-color-taylorSwift {
    background-color: $taylorSwift
}


.background-color-nineteenEightyNineTV {
    background-color: $nineteenEightyNineTV;
}
.background-color-redTV {
    background-color: $redTV;
}
.background-color-speakNowTV {
    background-color: $speakNowTV;
}
.background-color-fearlessTV {
    background-color: $fearlessTV;
}
.background-color-taylorSwiftTV {
    background-color: $taylorSwiftTV;
}



//------------------------------------------------------------------------------
// TEXT COLORS 

.color-theTorturedPoetsDepartment {
    color: $theTorturedPoetsDepartment
}
.color-midnights {
    color: $midnights;
}
.color-evermore {
    color: $evermore;
}
.color-folklore {
    color: $folklore
}
.color-lover {
    color: $lover;
}
.color-reputation {
    color: $reputation;
}
.color-nineteenEightyNine {
    color: $nineteenEightyNine
}
.color-red {
    color: $red
}
.color-speakNow {
    color: $speakNow;
}
.color-fearless {
    color: $fearless
}
.color-taylorSwift {
    color: $taylorSwift
}