.chronology-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.album-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 5.5rem;
    .album-tracks {
        display: flex;
        flex-flow: row;
    }

    .album-title-container {
        height: 3rem;
        position: absolute;
        display: flex;
        align-items: flex-start ;
        top: 2px;
    }

    .album-title {
        display: none;
        font-size: 1rem;
        margin: 0;
    }

    &:hover {
        .album-title {
            display: block;
        }
    }
}


.track-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 4rem;

    &:hover {
        .track-title-container {
            display: block;
        }
    }

    .track-bar {
        display: flex;
        margin: 1.3px;
        height: 2rem;
        width: 4px;
        padding: 0;
        border-radius:  1px;
        }

        .track-title-container {
            height: 3rem;
            position: absolute;
            display: flex;
            align-items: flex-start ;
            bottom: 1px;
        }
    
        .track-title {
            display: none;
            font-size: 1rem;
            position: absolute;
            top: 1rem;
            margin: 0;
            margin-top: 3px;
            z-index: 10;
            width: 700px;
        }
    
        &:hover {
            .track-title {
                display: block;
            }
    }
    }






// .track-title-container {
//     display: none;
//     position: absolute;
//     top: 4rem;
// }