.condensed-vertical {
    display: flex;
    margin: auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    margin-bottom: 2rem;
    border: $border-standard;
    border-radius: $rounded-rectangle;

    @media (min-width: $wide-phone) {
        display: none;

    }
}

.condensed-vertical-tracks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.condensed-vertical-track-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-flow: row;
    @media (min-width: $wide-phone) {
        // display: none;
    }


    .condensed-vertical-album-title-container {
        width: 3rem;
        position: absolute;
        align-items: flex-start;
        font-size: smaller;
    }

    .condensed-vertical-album-title {
        display: none;
        position: absolute;
        top: -50px;
        font-size: 1rem;
        bottom: 1rem;
        margin: 0;
        z-index: 10;
        height: 700px;
    }



    .condensed-vertical-track-title-container {
        width: 3rem;
        position: absolute;
        display: flex;
        align-items: flex-start;
        top: -30px;
    }

    .condensed-vertical-track-title {
        display: none;
        font-size: 1rem;
        bottom: 1rem;
        margin: 0;
        z-index: 10;
        height: 700px;
    }

    &:hover {
        .condensed-vertical-track-title {
            display: block;
        }

        .condensed-vertical-album-title {
            display: block;
        }
    }

    .condensed-vertical-track-bar {
        display: flex;
        margin-left: 0.5px;
        width: 2rem;
        height: 2px;
        padding: 0;
        border-radius: 1px;
        @media (min-width: $wide-phone) {
            display: none;
        }
    
    }


}