// CONDENSED _____________________________________


//THESE TWO CLASSES ARE USED BECAUSE I WANT TO DISPLAY THE TRACKS IN THE MOST READABLE CHRONOLOGICAL ORDER
//WHEN SCREEN IS NARROW, TRACKS VERTICAL : OLDEST ON LEFT, NEWEST ON RIGHT
.condensed-top-to-bottom-tracks {
    display: block;
    @media (min-width: $wide-phone) {
        display: none;
    }
}
//WHEN SCREEN IS WIDE, TRACKS HORIZONTAL : OLDEST AT BOTTOM, NEWEST AT TOP
.condensed-left-to-right-tracks {
    display: none;
    @media (min-width: $wide-phone) {
        display: flex;
        align-items: flex-end;
        
    }
}
//__________________


.condensed-title {
    font-size: 0.7rem;
    height: 2rem;
    display: flex;
    margin: auto;
    padding-bottom: 0.5rem;
    justify-content: center;
    width: 200px;

    @media (min-width: $small-phone) {
        height: 1rem;

        width: $small-phone;
    }

    @media (min-width: $phone) {
        width: $phone;
    }

    @media (min-width: $wide-phone) {
        margin: auto;
        font-size: 0.7rem;
        height: 1rem;
        width: $wide-phone;
    }

    @media (min-width: $desktop) {
        margin: auto;
        font-size: 0.8rem;
        height: 1rem;
        width: $wide-phone;
    }
}


.condensed-container {
    border: $border-standard;
    border-radius: $rounded-rectangle;
    background-color: $background-color;
    padding: 0.25rem;
    display: block;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;

    @media (min-width: $phone) {
        border: $border-standard;
        }

    @media (min-width: $wide-phone) {
        padding: 1rem;
        flex-flow: row;
        align-items: flex-end;
        justify-content: center;
    }
}

.condensed-tracks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $wide-phone) {
        flex-flow: row;
        align-items: flex-end;
    }
}
.condensed-direction-up{
    // align-items: flex-start;
    // @media (min-width: $wide-phone) {
    // align-items: flex-end;
    // }

}

//_______________________________________________________________________________________________________________


//-------------------------VERTICAL - MOBILE-------------------------
.condensed-vertical-track-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-flow: row;

    .condensed-vertical-track-bar {
        display: flex;
        margin-left: 0.5px;
        width: 2rem;
        height: 2px;
        padding: 0;
        border-radius: 1px;

        @media (min-width: $wide-phone) {
            display: none;
        }
    }


}

//-------------------------HORIZONTAL - WIDE SCREEN-------------------------

.condensed-track-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    display: none;

    @media (min-width: $wide-phone) {
        display: flex;
    }

    .condensed-track-bar {
        display: flex;
        margin-left: 0.5px;
        height: 2rem;
        width: 2px;
        padding: 0;
        border-radius: 1px;
        flex-grow: 1;
       
        @media (min-width: $wide-phone) {
            margin-left: 0px;
            width: 1.5px;
        }

        @media (min-width: $small-tablet) {
            margin-left: 0px;
            width: 2px;
        }

        @media (min-width: $tablet) {
            margin-left: 0px;
            width: 2.5px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        @media (min-width: $desktop) {
            margin-left: 0px;
            width: 3px;
        }

        @media (min-width: $large-desktop) {
            margin-left: 1px;
            width: 3px;
        }

        @media (min-width: $XXL-desktop) {
            margin-left: 1px;
            width: 4px;
        }

        @media (min-width: $monitor) {
            margin-left: 1px;
            width: 5px;
        }

    }

}


