.condensed-container {
    display: flex;
    flex-flow: column ;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 60px;
    margin-bottom: 2rem;
    
    @media (min-width: $phone) {
        flex-flow: row wrap;
    } 
}


.condensed-track-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-flow: column;


    .condensed-album-title-container {
        height: 3rem;
        position: absolute;
        align-items: flex-start;
        font-size: smaller;
    }

    .condensed-album-title {
        display: none;
        position: absolute;
        top: -50px;
        font-size: 1rem;
        bottom: 1rem;
        margin: 0;
        z-index: 10;
        width: 700px;
    }



    .condensed-track-title-container {
        height: 3rem;
        position: absolute;
        display: flex;
        align-items: flex-start;
        top: -30px;
    }

    .condensed-track-title {
        display: none;
        font-size: 1rem;
        bottom: 1rem;
        margin: 0;
        z-index: 10;
        width: 700px;
    }

    &:hover {
        .condensed-track-title {
            display: block;
        }

        .condensed-album-title {
            display: block;
        }
    }

    .condensed-track-bar {
        display: flex;
        margin-left: 0.5px;
        height: 2rem;
        width: 1px;
        padding: 0;
        border-radius: 1px;

        @media (min-width: $wide-phone) {
            margin-left: 0.5px;
            width: 1.5px;
        }
        @media (min-width: $tablet) {
            margin-left: 1px;
            width: 1.5px;
        }
        @media (min-width: $desktop) {
            margin-left: 1px;
            width: 2px;
        }
        @media (min-width: $large-desktop) {
            margin-left: 1px;
            width: 3px;
        }
        @media (min-width: $XL-desktop) {
            margin-left: 1px;
            width: 3.5px;
        }
        @media (min-width: $XXL-desktop) {
            margin-left: 1px;
            width: 4px;
        }
        @media (min-width: $XXXL-desktop) {
            margin-left: 1px;
            width: 5px;
        }

    }

}






// .track-title-container {
//     display: none;
//     position: absolute;
//     top: 4rem;
// }