%options-filters-containers {
    background-color: $lead-color;
    display: flex;
    border-radius: $rounded-rectangle;
    padding: 0.5rem;
    margin: 0.35rem 1rem;
    transition: all 0.5s ease;
}


.options-pill-whole-container {
    @extend %options-filters-containers;
    display: flex;
    flex-direction: column;
}

.options-pill-header {
    display: flex;
    justify-content: center;

    margin: auto;
    width: 100%;

    p {
        margin: 3px;
        text-align: center;
    }

    .options-pill-arrow {
        margin-right: 5px;
        transform: rotate(0deg);
        transition: all 0.5s ease;
    }

    &.active {
        .options-pill-arrow {
            transform: rotate(90deg);
            transition: all 0.5s ease;
        }
    }
}


.options-pill-content-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 1rem;

    @media (min-width: $phone) {
        flex-flow: row wrap;
    }
}


// SORT OPTIONS ________________________________________


.sort-options-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 1rem;

    @media (min-width: $phone) {
        flex-flow: row wrap;
    }

    .sort-options-header {
        font-size: 1.5rem;
        text-align: center;
    }
}


// ORDER OPTIONS ________________________________________

.order-options-form {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;

    @media (min-width: $small-phone) {
        flex-flow: row wrap;
    }
}