.filters-container {
    border: $border-standard;
    border-radius: $rounded-rectangle;
    margin: 0.25rem;

    p {
        text-align: center;
        margin: 0.5rem;
    }

}

%options-filters-containers {
    background-color: $lead-color;
    display: flex;
    border-radius: $rounded-rectangle;
    padding: 0.5rem;
    margin: 0.35rem 1rem;
    transition: all 0.5s ease;
}


.options-pill-whole-container {
    @extend %options-filters-containers;
    display: flex;
    flex-direction: column;
}

.options-pill-header {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;

    p {
        color: $lead-text-color;
        margin: 3px;
        text-align: center;
    }

    .options-pill-arrow {
        margin-right: 5px;
        transform: rotate(0deg);
        transition: all 0.5s ease;
    }

    &.active {
        .options-pill-arrow {
            transform: rotate(90deg);
            transition: all 0.5s ease;
        }
    }
}

.options-pill-select-buttons-container {
    display: flex;
    justify-content: center;
}

.options-pill-select-button {
    border-radius: $rounded-rectangle;
    border: $lead-text-color 2px solid;
    background-color: $background-color;
    margin: 0 0.75rem 0.5rem;
    color: $lead-text-color;
    font-weight: 600;
    padding: 0.25rem 0.5rem;

    &:hover {
        // background-color: $btn-hover-color;
        animation: colorCycle 60s infinite;
    }

    &:active {
        background-color: $lead-color;
    }
}

.options-pill-content-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 1rem;
    color: darken($lead-color, 40%);

    @media (min-width: $phone) {
        flex-flow: row wrap;
    }
}

.options-pill-content-container-album {
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 1rem;
    color: darken($lead-color, 40%);

}


// SORT OPTIONS ________________________________________


h1.sort-options-header {
    font-size: 2rem;
    font-family: $titleFont;
    text-align: center;
    display: flex;
    justify-content: center;

}

.sort-options-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 1rem;

    @media (min-width: $phone) {
        flex-flow: row wrap;
    }

}


// ORDER OPTIONS ________________________________________

.order-options-form {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;

    @media (min-width: $small-phone) {
        flex-flow: row wrap;
    }
}