.quiz-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.quiz-next-button {
    border: 4px solid $lead-color;
    margin: 2rem auto;
    border-radius: $rounded-rectangle;
    padding: 1rem;
    margin-top: 2rem;
    font-family: $titleFont;
    text-decoration: none;
    animation: backgroundErasColorCycle 120s infinite;
    color: $background-color;
    font-weight: 700;
    letter-spacing: 4px;
}

.quiz-options-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 3px solid $lead-color;
    margin: 0.2rem;
    width: 700px;

    @media (min-width: $small-phone) {
        flex-flow: row;
        justify-content: space-evenly;
    }
}

.quiz-option-container {
    border-radius: $rounded-rectangle;
    margin: 0.75rem 0.25rem;
    padding: 0.25rem;

}

.quiz-option {
    width: 210px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    border-radius: $rounded-rectangle;
    margin: 0.25rem 0.25rem;

    @media (min-width: $small-phone) {
        width: 142px;
        margin: 0.15rem;
        height: 55px;
        flex-flow: row;
        justify-content: space-evenly;
    }

    @media (min-width: $phone) {
        width: 182px;
        margin: 0.15rem;
        height: 55px;
        flex-flow: row;
        justify-content: space-evenly;
    }

    @media (min-width: $wide-phone) {
        width: 235px;
        margin: 0.15rem;
        height: 55px;
        flex-flow: row;
        justify-content: space-evenly;
    }

    @media (min-width: $tablet) {
        margin: 0.25rem;
        width: 260px;
        height: 55px;
        flex-flow: row;
        justify-content: space-evenly;
    }
}

.quiz-song-name {
    font-size: 1rem;
}


.quiz-both-stacks {
    @extend .quiz-options-container;
    border: none;
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1rem;
    width: 700px;
    height: 100px;
    left: 1rem;
    right: 1rem;
    margin: auto;
    margin-top: 1rem;
}

.quiz-stack-group-container {
    position: absolute;
    height: fit-content;
    width: fit-content;
    background-color: rgb(77, 144, 144);
    top: -10px;
}

.quiz-stack-group-A {
    left: 50px;

}

.quiz-stack-group-B {
    left: 380px;
}

.quiz-stack {
    position: relative;
    // opacity: 0.8;

}

.quiz-stack-current-song {
    all: unset;
    position: absolute;
    margin: auto;
    top: 0;
    transition: all 100ms ease;
    border: 0;
    padding: 0;
    background-color: 0;

    &:hover {
        top: -5px;
        transition: all 100ms ease;
    }

    &:active {
        top: 3px;
        transition: all 900ms ease;

    }
}

.quiz-stack-item-container {
    position: 'absolute';
    // left: 30px;
}

.quiz-sorted-piece-list {
    background-color: $background-color;
    border-radius: $rounded-rectangle;
    padding: 1rem;
}

.quiz-sorted-item-container {
    border-radius: 10px;
    border-width: 3px;

}

.quiz-sorted-item {
    padding: 0;
    margin: 0.25rem;
    font-size: 0.8rem;
    font-weight: 400;
color: $background-color;
}