.quiz-reload-btn-container {
    display: flex;
    justify-content: end;

}

.quiz-reload-button {
    width: 110px;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    border-radius: $rounded-rectangle;
    background-color: $background-color;
    border: 3px solid $lead-color;
    font-family: $lead-font;

    .quiz-reload-btn-arrow {
        margin: 0;
        margin-right: 3px;
        transform: rotate(180deg);
        position: relative;
        top: 2px;
        animation: colorCycle 120s infinite;
    }

    .quiz-reload-btn-text {
        margin: 0;
        animation: colorCycle 120s infinite;
    }
}

// whole thing below filter, from top next step to bottom next step buttons
.quiz-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.quiz-filters-container {
    border: $border-standard;
    border-radius: $rounded-rectangle;
    margin: 0.5rem;

    p {
        text-align: center;
        margin: 0.5rem;
    }

}

.quiz-filters-container-non-accessible {
    // background-color: $lead-color;
    opacity: 0.3;
    pointer-events: none;
    /* Disable pointer events to make it non-clickable */
}

.quiz-filters-container-accessible {}


.quiz-next-button {
    border: 4px solid $lead-color;
    margin: 1em auto;
    border-radius: $rounded-rectangle;
    padding: 1rem;
    // margin-top: 2rem;
    font-family: $titleFont;
    text-decoration: none;
    animation: backgroundErasColorCycle 120s infinite;
    color: $background-color;
    font-weight: 700;
    letter-spacing: 4px;
}

.quiz-step-counter {
    margin: 0;
    margin-bottom: 0.25rem;
}

// if user tries to next step but prevented : message
.quiz-message {
    color: rgb(255, 203, 91);
    margin: 1rem;
    position: relative;
    top: 1.5rem;
    font-size: 0.9rem;
}


// two lines on step 0
.quiz-instructions {
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    p {
        margin: 0;
        text-align: center;
    }
}


.quiz-battle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

// variant coloured option, with active variant color border on click
.quiz-option {
    width: 100px;
    // width: 210px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.25rem;
    border-radius: $rounded-rectangle;
    margin: 0.25rem 0.25rem;

    @media (min-width: $smallest-phone ) {
        width: 112px;
        height: 75px;

    }

    @media (min-width: $small-phone) {
        width: 132px;
        height: 65px;
        margin: 0.15rem;
        flex-flow: row;
        justify-content: space-evenly;
    }

    @media (min-width: $phone) {
        width: 162px;
        height: 80px;
        margin: 0.15rem;
        height: 55px;
        flex-flow: row;
        justify-content: space-evenly;
    }

    @media (min-width: $wide-phone) {
        margin: 0.15rem;
        padding: 0.5rem;
        height: 65px;
        flex-flow: row;
        justify-content: space-evenly;
    }

    @media (min-width: $tablet) {
        margin: 0.25rem;
        width: 260px;

    }
}

.quiz-song-name {
    font-size: 0.75rem;

    @media (min-width: $wide-phone) {
        font-size: 0.8rem;
    }

    @media (min-width: $tablet) {
        font-size: 1rem;
    }
}

.quiz-vs {
    align-self: flex-start;
    align-self: center;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0.75rem;

}

// one of initial pair
.quiz-option-container {
    border-radius: $rounded-rectangle;
    margin: 0.75rem 0.25rem;
}

// ------------------------------------- FOR INITIAL (PAIR) PHASE ----------
// initial stage - pairs container 
.quiz-options-container {
    display: flex;
    flex-flow: row;
    // flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 3px solid $lead-color;
    border-radius: 5px;
    margin: 0.7rem 0;
    width: 200px;
    height: 100px;

    @media (min-width: $small-phone) {
        border: 3px solid $lead-color;
        flex-flow: row;
        justify-content: center;
        width: 200px;
    }

    @media (min-width: $phone) {
        width: 200px;

    }

    @media (min-width: $wide-phone) {
        width: 210px;
    }

    @media (min-width: $small-tablet) {
        height: 110px;
        width: 210px;
    }

    @media (min-width: $tablet) {
        height: 130px;
        width: 300px;
    }

    @extend .quiz-options-container;
    border: none;
    display: flex;
    position: relative;
    justify-content: center;
    padding: 1rem;
    // width: 700px;
    width: 40%; // of quiz container 
    max-width: 400px;
    height: 100px;
    // left: 1rem;
    // right: 1rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: $rounded-rectangle;
    border-top: 5px solid $lead-color;
    transition: all 500ms ease;

    @media (min-width: $smallest-phone) {
        width: 38%; // of quiz container 
    }

    @media (min-width: $small-phone) {
        width: 30%;
    }

    @media (min-width: $phone) {
        width: 38%;
    }
}

.quiz-initial-pairing {
    display: flex;
    position: relative;
    top: 1px;
    align-items: center;

    @media (min-width: $small-phone) {
        // bottom: 17px; 
    }

    @media (min-width: $small-tablet) {
        // bottom: 9px;
    }

    @media (min-width: $desktop) {
        // bottom: 9px;
    }
}

// ------------------------------------- 


// ------------------------------------- FOR STACKS PHASE ----------
.quiz-both-stacks {
    @extend .quiz-options-container;
    border: none;
    display: flex;
    position: relative;
    justify-content: center;
    // padding: 1rem;
    // width: 700px;
    width: 40%; // of quiz container 
    max-width: 400px;
    height: 80px;
    // height: fit-content;
    // left: 1rem;
    // right: 1rem;
    margin: auto;
    margin-top: 1rem;
    border-radius: $rounded-rectangle;
    border-top: 5px solid $lead-color;
    transition: all 500ms ease;


    @media (min-width: $smallest-phone) {
        width: 38%; // of quiz container 
    }

    @media (min-width: $small-phone) {
        width: 30%;
    }

    @media (min-width: $phone) {
        width: 35%;
    }
}


.quiz-stack-group-container {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: -1px;
    transition: all 500ms ease;
}

.quiz-stack-group-A {
    // left: 50px;
    left: -230px;

    // right: 130px;
    @media (min-width: $small-phone) {
        left: -230px;
    }

    @media (min-width: $phone) {
        left: -190px;
    }

    @media (min-width: $small-tablet) {
        left: -165px;
        // left: -145px;
    }

    @media (min-width: $desktop) {
        left: -132px;
    }

    @media (min-width: $small-desktop) {
        left: -122px;
    }
}

.quiz-stack-group-B {
    // left: 380px;
    right: 75px;

    @media (min-width: $small-phone) {
        right: 75px;
    }

    @media (min-width: $phone) {
        right: 100px;
    }

    @media (min-width: $small-tablet) {
        right: 135px;
    }

    @media (min-width: $desktop) {
        right: 170px;
    }

    @media (min-width: $small-desktop) {
        right: 180px;
    }
}

.quiz-stack {
    position: relative;
    // opacity: 0.8;
}

.quiz-stack-current-song {
    all: unset;
    position: absolute;
    margin: auto;
    top: 0;
    border: 0;
    padding: 0;

    &:active {
        top: 5px;
        transition: all 900ms ease;
    }

    @media (min-width: $desktop) {
        &:hover {
            top: -5px;
            transition: all 100ms ease;
        }

        &:active {
            top: 3px;
            transition: all 900ms ease;
        }
    }
}

.quiz-stack-current-song-A {

    // the larger the number, the further left
    // INCREASE for left
    // DECREASE for right
    left: 164px;

    @media (min-width: $small-phone) {
        left: 147px;
    }

    @media (min-width: $phone) {
        left: 117px;
    }

    @media (min-width: $wide-phone) {
        left: 110px;
    }

    @media (min-width: $tablet) {
        left: 10px;
    }
}

.quiz-stack-item-container {
    position: 'absolute';
    // left: 30px;
}


.quiz-undo-button {
    @extend .quiz-reload-button;
    align-items: center;
    margin: 0.25rem 1rem;


    .quiz-undo-btn-arrow {
        @extend .quiz-reload-btn-arrow;
        animation: none;
        color: $lead-text-color;
        font-size: 1rem;
    }

    .quiz-undo-btn-text {
        @extend .quiz-reload-btn-text;
        animation: none;
        color: $lead-text-color
    }
}

// ------------------------------------- 



// ------------------------------------- FOR SORTED LIST ----------
.quiz-sorted-piece-list {
    background-color: $background-color;
    background-color: $lead-color;
    border-radius: $rounded-rectangle;
    padding: 0.5rem;
    margin: auto;
    margin-top: 1rem;
    transition: all 500ms ease;
    padding-bottom: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;

    @media (min-width: $smallest-phone) {
        width: $smallest-phone -24px;
    }

    @media (min-width: $small-phone) {
        width: $small-phone -24px;
    }

    @media (min-width: $phone) {
        width: $phone -24px;
    }

    @media (min-width: $wide-phone) {
        width: $wide-phone -24px;
    }

}

.quiz-sorted-item-container {
    border-radius: 10px;
    border-width: 3px;
    width: 240px;

    @media (min-width: $small-phone) {
        width: $smallest-phone;
    }

    @media (min-width: $phone) {
        width: $small-phone;
    }

    @media (min-width: $wide-phone) {
        width: $phone;
    }

    @media (min-width: $small-tablet) {
        width: $phone;
    }
}

.quiz-sorted-item {
    padding: 0;
    margin: 0.25rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: $background-color;
}


// ------------------------------------- FINISHED ----------

.quiz-finished-container {
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        color: $lead-text-color;
        animation: colorCycle 120s infinite;
        text-align: center;
        word-wrap: break-word;
        font-size: 2rem;
        max-width: 90%;
    }
}

.quiz-finished-button {
    // @extend .quiz-reload-button;
    @extend .quiz-next-button;
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    letter-spacing: normal;
    animation: borderErasColorCycle 120s infinite;

    p {
        padding: 0;
        margin: 0;
        letter-spacing: normal;
        animation: colorCycle 120s infinite;

    }

    .quiz-scrollTo-btn-arrow {
        transform: rotate(90deg);
        font-size: 1rem;
    }
}

.quiz-final-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0.25rem;
    // border: 5px solid $lead-color;
    border-radius: $rounded-rectangle;
    animation: borderErasColorCycle 120s infinite;

    @media (min-width: $small-phone) {
        border: 5px solid $lead-color;
    }

    @media (min-width: $small-tablet) {
        border: 5px solid $lead-color;
        padding: 1rem;
    }

    h2 {
        text-align: center;
        margin-top: 0;
        max-width: 95%;
    }
}

.quiz-final-graphs-container {
    margin: auto;
    max-width: 90%;
    margin-bottom: 2rem;
    padding: 0.25rem;
    border: 5px solid $lead-color;
    border-radius: $rounded-rectangle;
    animation: borderErasColorCycle 120s infinite;


    h2 {
        text-align: center;
        margin-top: 0;
        max-width: 95%;
    }

    h3 {
        color: $lead-text-color;
        text-align: center;
        margin-top: 0;
    }

    .quiz-final-graph-condensed {
        margin-bottom: 1rem;
        max-width: 100%;

    }

    .quiz-final-graph-fullSize {
        margin: 0;
        margin-bottom: 2rem;
        max-width: 100%;
        border: none;

    }

}

.quiz-final-list-header {
    text-align: center;
    animation: colorCycle 120s infinite;
}

// ------------------------------------- SAVE RANKING ----------
.quiz-SaveRanking-container {
    // border: 4px solid $second-color;
    border-radius: $rounded-rectangle;
    animation: borderErasColorCycle 120s infinite;
    padding: 1rem;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    
    h2 {
        margin: 0;
    animation: colorCycle 120s infinite;

    }
}

.quiz-SaveRanking-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    

    input {
        min-height: 2rem;
        border: 3px solid $second-color;
        animation: borderErasColorCycle 120s infinite;
        height: fit-content;
        border-radius: 3px;

    }
}

.quiz-SaveRanking-btn {
    @extend .quiz-finished-button;
    background-color: $background-color;

    &:hover {
        background-color: $second-color;

    }
}