.vertical-chronology-container {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    height: fit-content;
    margin: auto;
    position: relative;
    left: calc(28vw);
}

.vertical-album-container {
    display: flex;
    flex-direction: row;
    position: relative;
    display: flex;
    align-items: flex-start;
    // background-color: antiquewhite;
    width: 350px;

    .album-tracks {
        display: flex;
        flex-flow: row;
    }

    .vertical-album-title-container {
        // height: max-content;
        transform: rotate(90deg);
        margin: auto;
        display: flex;
        justify-content: center;
        // width: 600px;
        margin-left: 1rem;
        height: 2rem;
        align-items: center;
        position: absolute;
        left:150px;
        top: 2rem;
    }

    .vertical-album-title {
        display: none;
        font-size: 1rem;
        margin: 0;
        // bottom: 150px;
        z-index: 1;


    }

    &:hover {
        .vertical-album-title {
            display: block;
        }
    }
}



.vertical-track-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 2px;

    &:hover {
        .track-title-container {
            display: block;
        }
    }

    .vertical-track-bar {
        display: flex;
        margin: 1.3px;
        height: 0.75rem;
        padding: 0;
        border-radius: 1px;
    }

    .vertical-track-title-container {
        position: absolute;
        display: flex;
        align-items: flex-start;
        bottom: 1px;

    }

    .vertical-track-title {
        // display: none;
        font-size: 1rem;
        position: relative;
        top: 0;
        right: 710px;
        text-align: right;
        margin: 0;
        margin-top: 3px;
        z-index: 1;
        width: 700px;
    }

    &:hover {
        .vertical-track-title {
            display: block;
        }
    }
}


.sorted-vertical-album-container {
    @extend .vertical-album-container;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 500px;

    .sorted-album-tracks {
        @extend .album-tracks;
    }
}

.sorted-vertical-track-title {
    @extend .vertical-sorted-track-title !optional;
    margin: 0;
}

.sorted-vertical-track-title-container {
    @extend .vertical-track-title-container;
    width: 700px;
}