@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
.chronology-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 3.5rem;
}

.album-container {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.album-container .album-tracks {
  display: flex;
  flex-flow: row;
}
.album-container .album-title-container {
  height: 3rem;
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 2px;
}
.album-container .album-title {
  display: none;
  font-size: 1rem;
  margin: 0;
}
.album-container:hover .album-title {
  display: block;
}

.track-container .track-bar {
  display: flex;
  margin: 1.2px;
  height: 2rem;
  width: 3px;
  padding: 0;
}
.track-container .track-bar:hover .track-title-container {
  display: block;
}

.track-title-container {
  display: none;
  position: absolute;
  top: 4rem;
}

.background-color-theTorturedPoetsDepartment {
  background-color: rgb(237, 236, 232);
}

.background-color-midnights {
  background-color: #0f1e7e;
}

.background-color-evermore {
  background-color: #c47f2b;
}

.background-color-folklore {
  background-color: #d8e2dd;
}

.background-color-lover {
  background-color: #e4c8ed;
}

.background-color-reputation {
  background-color: #051915;
}

.background-color-nineteenEightyNine {
  background-color: #9ab9f2;
}

.background-color-red {
  background-color: #fc4456;
}

.background-color-speakNow {
  background-color: #be81ed;
}

.background-color-fearless {
  background-color: #ffc906;
}

.background-color-taylorSwift {
  background-color: #99e9f3;
}

.background-color-nineteenEightyNineTV {
  background-color: #aedefe;
}

.background-color-redTV {
  background-color: #db2323;
}

.background-color-speakNowTV {
  background-color: #8c7cf1;
}

.background-color-fearlessTV {
  background-color: #ffd771;
}

.background-color-taylorSwiftTV {
  background-color: #6cebfb;
}

.color-theTorturedPoetsDepartment {
  color: rgb(237, 236, 232);
}

.color-midnights {
  color: #0f1e7e;
}

.color-evermore {
  color: #c47f2b;
}

.color-folklore {
  color: #d8e2dd;
}

.color-lover {
  color: #e4c8ed;
}

.color-reputation {
  color: #051915;
}

.color-nineteenEightyNine {
  color: #9ab9f2;
}

.color-red {
  color: #fc4456;
}

.color-speakNow {
  color: #be81ed;
}

.color-fearless {
  color: #ffc906;
}

.color-taylorSwift {
  color: #99e9f3;
}

.header-container {
  position: fixed;
  left: 0;
  padding: 5px;
  width: 100vw;
  height: 56px;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  background-color: #fff;
  border-bottom: pink;
}
@media (max-width: 370px) {
  .header-container {
    height: -moz-fit-content;
    height: fit-content;
  }
}

.header-title {
  display: block;
  color: pink;
  margin: 0px;
  font-weight: 800;
  font-size: 30px;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul {
  list-style-type: none;
  /* Removes bullets from an unordered list */
  padding: 0;
}

.whole-container {
  display: flex;
  position: relative;
  top: 56px;
  right: 1rem;
  width: 100vw;
  justify-content: center;
}
@media (min-width: 1200px) {
  .whole-container {
    display: flex;
    justify-content: center;
  }
}

.main-container {
  display: flex;
  padding-top: 1rem;
  overflow: hidden;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */