@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
.background-color-theTorturedPoetsDepartment {
  background-color: rgb(237, 236, 232);
}

.background-color-theTorturedPoetsDepartment-extended {
  background-color: rgb(237, 236, 232);
}

.background-color-theTorturedPoetsDepartment-album {
  background-color: #d9d7ce;
}

.background-color-theTorturedPoetsDepartment-single {
  background-color: rgba(237, 236, 232, 0.75);
}

.color-theTorturedPoetsDepartment {
  color: rgb(237, 236, 232);
}

.color-theTorturedPoetsDepartment-album {
  color: rgb(237, 236, 232);
}

.color-theTorturedPoetsDepartment-extended {
  color: #d9d7ce;
}

.color-theTorturedPoetsDepartment-single {
  color: rgba(237, 236, 232, 0.85);
}

.background-color-midnights {
  background-color: #0f1e7e;
}

.background-color-midnights-extended {
  background-color: #0f1e7e;
}

.background-color-midnights-album {
  background-color: #0a1455;
}

.background-color-midnights-single {
  background-color: rgba(15, 30, 126, 0.75);
}

.color-midnights {
  color: #0f1e7e;
}

.color-midnights-album {
  color: #0f1e7e;
}

.color-midnights-extended {
  color: #0a1455;
}

.color-midnights-single {
  color: rgba(15, 30, 126, 0.85);
}

.background-color-evermore {
  background-color: #a25f25;
}

.background-color-evermore-extended {
  background-color: #a25f25;
}

.background-color-evermore-album {
  background-color: #7d491c;
}

.background-color-evermore-single {
  background-color: rgba(162, 95, 37, 0.75);
}

.color-evermore {
  color: #a25f25;
}

.color-evermore-album {
  color: #a25f25;
}

.color-evermore-extended {
  color: #7d491c;
}

.color-evermore-single {
  color: rgba(162, 95, 37, 0.85);
}

.background-color-folklore {
  background-color: #aeb4b2;
}

.background-color-folklore-extended {
  background-color: #aeb4b2;
}

.background-color-folklore-album {
  background-color: #969e9b;
}

.background-color-folklore-single {
  background-color: rgba(174, 180, 178, 0.75);
}

.color-folklore {
  color: #aeb4b2;
}

.color-folklore-album {
  color: #aeb4b2;
}

.color-folklore-extended {
  color: #969e9b;
}

.color-folklore-single {
  color: rgba(174, 180, 178, 0.85);
}

.background-color-lover {
  background-color: #e8a3ff;
}

.background-color-lover-extended {
  background-color: #e8a3ff;
}

.background-color-lover-album {
  background-color: #dd75ff;
}

.background-color-lover-single {
  background-color: rgba(232, 163, 255, 0.75);
}

.color-lover {
  color: #e8a3ff;
}

.color-lover-album {
  color: #e8a3ff;
}

.color-lover-extended {
  color: #dd75ff;
}

.color-lover-single {
  color: rgba(232, 163, 255, 0.85);
}

.background-color-reputation {
  background-color: rgb(4, 32, 27);
}

.background-color-reputation-extended {
  background-color: rgb(4, 32, 27);
}

.background-color-reputation-album {
  background-color: black;
}

.background-color-reputation-single {
  background-color: rgba(4, 32, 27, 0.75);
}

.color-reputation {
  color: rgb(4, 32, 27);
}

.color-reputation-album {
  color: rgb(4, 32, 27);
}

.color-reputation-extended {
  color: black;
}

.color-reputation-single {
  color: rgba(4, 32, 27, 0.85);
}

.background-color-nineteenEightyNine {
  background-color: #9ab9f2;
}

.background-color-nineteenEightyNine-extended {
  background-color: #9ab9f2;
}

.background-color-nineteenEightyNine-album {
  background-color: #719ded;
}

.background-color-nineteenEightyNine-single {
  background-color: rgba(154, 185, 242, 0.75);
}

.color-nineteenEightyNine {
  color: #9ab9f2;
}

.color-nineteenEightyNine-album {
  color: #9ab9f2;
}

.color-nineteenEightyNine-extended {
  color: #719ded;
}

.color-nineteenEightyNine-single {
  color: rgba(154, 185, 242, 0.85);
}

.background-color-red {
  background-color: #db2323;
}

.background-color-red-extended {
  background-color: #db2323;
}

.background-color-red-album {
  background-color: #b31d1d;
}

.background-color-red-single {
  background-color: rgba(219, 35, 35, 0.75);
}

.color-red {
  color: #db2323;
}

.color-red-album {
  color: #db2323;
}

.color-red-extended {
  color: #b31d1d;
}

.color-red-single {
  color: rgba(219, 35, 35, 0.85);
}

.background-color-speakNow {
  background-color: #ad7ee8;
}

.background-color-speakNow-extended {
  background-color: #ad7ee8;
}

.background-color-speakNow-album {
  background-color: #9457e1;
}

.background-color-speakNow-single {
  background-color: rgba(173, 126, 232, 0.75);
}

.color-speakNow {
  color: #ad7ee8;
}

.color-speakNow-album {
  color: #ad7ee8;
}

.color-speakNow-extended {
  color: #9457e1;
}

.color-speakNow-single {
  color: rgba(173, 126, 232, 0.85);
}

.background-color-fearless {
  background-color: #f5ce6d;
}

.background-color-fearless-extended {
  background-color: #f5ce6d;
}

.background-color-fearless-album {
  background-color: #f2c042;
}

.background-color-fearless-single {
  background-color: rgba(245, 206, 109, 0.75);
}

.color-fearless {
  color: #f5ce6d;
}

.color-fearless-album {
  color: #f5ce6d;
}

.color-fearless-extended {
  color: #f2c042;
}

.color-fearless-single {
  color: rgba(245, 206, 109, 0.85);
}

.background-color-taylorSwift {
  background-color: #7fd5e0;
}

.background-color-taylorSwift-extended {
  background-color: #7fd5e0;
}

.background-color-taylorSwift-album {
  background-color: #5ac9d7;
}

.background-color-taylorSwift-single {
  background-color: rgba(127, 213, 224, 0.75);
}

.color-taylorSwift {
  color: #7fd5e0;
}

.color-taylorSwift-album {
  color: #7fd5e0;
}

.color-taylorSwift-extended {
  color: #5ac9d7;
}

.color-taylorSwift-single {
  color: rgba(127, 213, 224, 0.85);
}

.background-color-carolina {
  background-color: #c3baaa;
}

.background-color-carolina-extended {
  background-color: #c3baaa;
}

.background-color-carolina-album {
  background-color: #b0a48f;
}

.background-color-carolina-single {
  background-color: rgba(195, 186, 170, 0.75);
}

.color-carolina {
  color: #c3baaa;
}

.color-carolina-album {
  color: #c3baaa;
}

.color-carolina-extended {
  color: #b0a48f;
}

.color-carolina-single {
  color: rgba(195, 186, 170, 0.85);
}

.background-color-christmas {
  background-color: #1c6336;
}

.background-color-christmas-extended {
  background-color: #1c6336;
}

.background-color-christmas-album {
  background-color: #123f22;
}

.background-color-christmas-single {
  background-color: rgba(28, 99, 54, 0.75);
}

.color-christmas {
  color: #1c6336;
}

.color-christmas-album {
  color: #1c6336;
}

.color-christmas-extended {
  color: #123f22;
}

.color-christmas-single {
  color: rgba(28, 99, 54, 0.85);
}

.background-color-renegade {
  background-color: #638d98;
}

.background-color-renegade-extended {
  background-color: #638d98;
}

.background-color-renegade-album {
  background-color: #51737c;
}

.background-color-renegade-single {
  background-color: rgba(99, 141, 152, 0.75);
}

.color-renegade {
  color: #638d98;
}

.color-renegade-album {
  color: #638d98;
}

.color-renegade-extended {
  color: #51737c;
}

.color-renegade-single {
  color: rgba(99, 141, 152, 0.85);
}

.condensed-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 60px;
}

.condensed-track-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
}
.condensed-track-container .condensed-album-title-container {
  height: 3rem;
  position: absolute;
  align-items: flex-start;
  font-size: smaller;
}
.condensed-track-container .condensed-album-title {
  display: none;
  position: absolute;
  top: -50px;
  font-size: 1rem;
  bottom: 1rem;
  margin: 0;
  z-index: 10;
  width: 700px;
}
.condensed-track-container .condensed-track-title-container {
  height: 3rem;
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: -30px;
}
.condensed-track-container .condensed-track-title {
  display: none;
  font-size: 1rem;
  bottom: 1rem;
  margin: 0;
  z-index: 10;
  width: 700px;
}
.condensed-track-container:hover .condensed-track-title {
  display: block;
}
.condensed-track-container:hover .condensed-album-title {
  display: block;
}
.condensed-track-container .condensed-track-bar {
  display: flex;
  margin-left: 0.5px;
  height: 2rem;
  width: 1px;
  padding: 0;
  border-radius: 1px;
}
@media (min-width: 570px) {
  .condensed-track-container .condensed-track-bar {
    margin-left: 0.5px;
    width: 1.5px;
  }
}
@media (min-width: 768px) {
  .condensed-track-container .condensed-track-bar {
    margin-left: 1px;
    width: 1.5px;
  }
}
@media (min-width: 960px) {
  .condensed-track-container .condensed-track-bar {
    margin-left: 1px;
    width: 2px;
  }
}
@media (min-width: 1200px) {
  .condensed-track-container .condensed-track-bar {
    margin-left: 1px;
    width: 3px;
  }
}
@media (min-width: 1400px) {
  .condensed-track-container .condensed-track-bar {
    margin-left: 1px;
    width: 3.5px;
  }
}
@media (min-width: 1600px) {
  .condensed-track-container .condensed-track-bar {
    margin-left: 1px;
    width: 4px;
  }
}
@media (min-width: 1700px) {
  .condensed-track-container .condensed-track-bar {
    margin-left: 1px;
    width: 5px;
  }
}

.vertical-chronology-container {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  position: relative;
  left: 28vw;
}

.vertical-album-container, .sorted-vertical-album-container {
  display: flex;
  flex-direction: row;
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 350px;
}
.vertical-album-container .album-tracks, .sorted-vertical-album-container .album-tracks, .sorted-vertical-album-container .sorted-album-tracks {
  display: flex;
  flex-flow: row;
}
.vertical-album-container .vertical-album-title-container, .sorted-vertical-album-container .vertical-album-title-container {
  transform: rotate(90deg);
  margin: auto;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  height: 2rem;
  align-items: center;
  position: absolute;
  left: 150px;
  top: 2rem;
}
.vertical-album-container .vertical-album-title, .sorted-vertical-album-container .vertical-album-title {
  display: none;
  font-size: 1rem;
  margin: 0;
  z-index: 10;
}
.vertical-album-container:hover .vertical-album-title, .sorted-vertical-album-container:hover .vertical-album-title {
  display: block;
}

.vertical-track-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 2px;
}
.vertical-track-container:hover .track-title-container {
  display: block;
}
.vertical-track-container .vertical-track-bar {
  display: flex;
  margin: 1.3px;
  height: 0.75rem;
  padding: 0;
  border-radius: 1px;
}
.vertical-track-container .vertical-track-title-container, .vertical-track-container .sorted-vertical-track-title-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  bottom: 1px;
}
.vertical-track-container .vertical-track-title {
  font-size: 1rem;
  position: relative;
  top: 0;
  right: 710px;
  text-align: right;
  margin: 0;
  margin-top: 3px;
  z-index: 10;
  width: 700px;
}
.vertical-track-container:hover .vertical-track-title {
  display: block;
}

.sorted-vertical-album-container {
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 500px;
}
.sorted-vertical-track-title {
  margin: 0;
}

.sorted-vertical-track-title-container {
  width: 700px;
}

.header-container {
  position: relative;
  left: 0;
  padding: 5px;
  width: 100vw;
  height: 56px;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  background-color: #fff;
  border-bottom: pink;
}
@media (max-width: 370px) {
  .header-container {
    height: -moz-fit-content;
    height: fit-content;
  }
}

.header-title {
  display: block;
  color: pink;
  margin: 0px;
  font-weight: 800;
  font-size: 30px;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul {
  list-style-type: none;
  /* Removes bullets from an unordered list */
  padding: 0;
}

.whole-container {
  display: flex;
  position: relative;
  top: 56px;
  right: 1rem;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-flow: column;
  padding-top: 1rem;
  overflow: hidden;
  justify-content: center;
}

.horizontal-chronology {
  display: flex;
  flex-flow: row;
}/*# sourceMappingURL=main.css.map */